.App {
  text-align: center;
  
}
h1 {
  font-family: cursive;
  color:violet;
}

.frame {
  width: 300px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  margin:  0 auto;
  margin-top: 80px;
  background-image: url(https://images.unsplash.com/photo-1551043088-22eb8ac4cc48?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzM4fHx3aGl0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

body {
  background-color: lightblue;
  background-image: url(https://images.unsplash.com/photo-1535983908227-2181fb40a8c1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHdoaXRlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
button {
  border-radius: 20px;
  background-color: violet;
  margin-top: 10px;
}
li {
  list-style-type: none;
  text-align: left;
  font-family: cursive;
  
}